@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51;
  --background-rgb: 250, 248, 245;
  --accent-rgb: 234, 228, 222;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4;
    width: 80%;
    max-width: 1920px;
  }

  .bg-accent {
    background-color: rgb(var(--accent-rgb));
  }
}

